<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxf.springbootinit.mapper.QuestionKnowledgeMapper">

    <resultMap id="BaseResultMap" type="com.mxf.springbootinit.model.entity.QuestionKnowledge">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="knowledgeId" column="knowledgeId" jdbcType="BIGINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionId,knowledgeId,
        isDelete
    </sql>
</mapper>
